






body{
min-height: 54em;
  /* background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */

background-image: url('../public//monad_bg.png');
background-size: cover;

/* background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */


}

.prev, .next{
color: white;
font-weight: bold;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 5px;
padding-right: 5px;
border: 1px solid;
cursor: pointer;
border-color: rgba(131, 110, 249, .4);
border-width: 2px;
border-radius: 10px;
}
.next{
  text-align: right;
}

.loader{
  position: absolute;
  top:45%;
  left: 45%;
}

/* .header{
  border: 1px solid;
  border-color: rgba(131, 110, 249, .4);
border-width: 2px;
border-radius: 20px;
padding-top: 15px;
padding-bottom: 15px;
margin-top: 20px;
} */